/* Styles space 50*/
.spacer50 {
    width: 50px;
}
/* Styles icon hand*/
.anchor-link {
    text-decoration: none;
}
.anchor-link ::after {
    content: " \f078";
    color: gray;
}
/* Styles space 40*/
.spacer40 {
    width: 100%;
    height: 40px;
    background-color: rgb(64 68 78);
}